.quiz-title {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    color: #333;
}

.loading-spinner {
    text-align: center;
    margin-top: 2rem;
}

.question-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.mascote-container {
    flex: 0 0 auto;
    margin-right: 1rem;
}

.mascote {
    height: 100px;
    width: auto;
}

.question-bubble-container {
    flex: 1 1 auto;
    max-width: 60%;
}

.question-bubble {
    position: relative;
    padding: 1rem;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #00796b;
    font-size: 1.125rem;
    text-align: left;
    width: 85%;
}

.question-bubble:after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 20px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0;
    border-color: #f9f9f9 transparent transparent transparent;
}

.cardWithShadow {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    text-align: center;
    height: auto; /* Garantir que o card se ajusta ao conteúdo */
}

.plant-card-image {
    height: 40%;
    width: 100%;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

.plant-card-content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
}

mat-card-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

mat-card-subtitle {
    font-size: 1rem;
    margin-bottom: 1rem;
}

button {
    margin-top: 1rem;
    width: 100%;
}

.plants-grid {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.retry-container {
    margin-top: 2rem;
    text-align: center;
}
