<div class="container">
    <!-- Card 1 -->
    <div class="card">
            <img mat-card-image src="assets/images/quizrespostas/morango.webp" alt="Imagem do Card 1" />
            <mat-card-content>
                <mat-card-title>Strawberry</mat-card-title>
                <p>Interesting facts about strawberries</p>
                <button mat-flat-button color="primary" (click)="comprar()">Go to the store!</button>
            </mat-card-content>
    </div>

    <!-- Card 2 -->
    <div class="card">
            <img mat-card-image src="assets/images/quizrespostas/urtiga.webp" alt="Imagem do Card 2" />
            <mat-card-content>
                <mat-card-title>Nettle</mat-card-title>
                <p>Interesting facts about nettle</p>
                <button mat-flat-button color="primary" (click)="comprar()">Go to the store!</button>

            </mat-card-content>
    </div>

    <!-- Card 3 -->
    <div class="card">
            <img mat-card-image src="assets/images/quizrespostas/manga.jpg" alt="Imagem do Card 3" />
            <mat-card-content>
                <mat-card-title>Mango</mat-card-title>
                <p>Interesting facts about mango</p>
                <button mat-flat-button color="primary" (click)="comprar()">Go to the store!</button>
            </mat-card-content>
    </div>
</div>
