<!-- Card Principal -->
<div class="card mb-3 shadow-sm card-small">
  <div class="row no-gutters align-items-center">
    <!-- Coluna para o conteúdo de texto -->
    <div class="col-md-6">
      <div class="card-body">
        <h2 class="card-title font-weight-bold text-success"><strong>CultivUA: One plant, transform your space!</strong></h2>
        <p class="card-text text-muted">Add new plants to your space and track their growth in an intelligent and practical way.</p>
        <button class="btn btn-custom mt-3" (click)="goToAddPlant()">Add New Plant</button>
      </div>
    </div>
    <!-- Coluna para a imagem da planta -->
    <div class="col-md-6">
      <img src="https://i0.wp.com/multimidia.gazetadopovo.com.br/media/info/2017/201710/plantas-problemas-saudavel.png?w=640" 
           class="card-img rounded-right" 
           alt="Monstera deliciosa">
    </div>
  </div>
</div>

<!-- Espaçamento entre o card e o próximo componente -->
<br><br><br>
