.card {
  background-color: #E5F5EC;
  border: 1px solid #E5F5EC;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
}

img {
  border: 2px solid #d1e7dd;
  margin-right: 20px; /* Espaço entre a imagem e o texto */
}

.text-container {
  padding-left: 2px; /* Espaçamento interno para o texto */
}

h5 {
  margin-bottom: 0;
  font-size: 1.25rem;
  line-height: 1.2;
}

small {
  display: block;
  margin-top: 0.2rem;
  font-size: 0.9rem;
  color: #6c757d;
  line-height: 1.1;
}

hr {
  margin: 1rem 0;
  border: 0;
  border-top: 1px solid #e9ecef;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.custom-button {
  width: 50px; /* Largura do botão */
  height: 50px; /* Altura do botão */
  background-color: #013220; /* Cor de fundo sólida */
  color: #ffffff; /* Cor do ícone */
  border: none; /* Remove bordas */
  border-radius: 8px; /* Bordas arredondadas */
  display: flex; /* Centraliza o conteúdo */
  align-items: center; /* Centraliza verticalmente */
  justify-content: center; /* Centraliza horizontalmente */
  cursor: pointer; /* Cursor ao passar o mouse */
  transition: transform 0.2s, box-shadow 0.2s; /* Transição para hover */
}

.custom-button:hover {
  transform: scale(1.1); /* Aumenta levemente no hover */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3); /* Sombra mais pronunciada */
}

.custom-button:active {
  transform: scale(0.95); /* Reduz o botão no clique */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra mais sutil */
}

/* Estilo para cada cartão de dados */
.data-card {
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px; /* Aumentando a altura dos cards */
  text-align: center; /* Garantindo que o texto fique centralizado */
}

.data-card i {
  font-size: 2rem;
  color: #6c757d;
  margin-bottom: 0.5rem;
}

/* Estilos específicos para cada tipo de dado */
.humidity {
  background-color: #CEE1D7;
}

.sunlight {
  background-color: #CEE1D7;
}

.temperature {
  background-color: #CEE1D7;
}
