<div style="margin: 0 10%; text-align: justify;">
    <p>
        CultivUA is an innovative project that aims to promote urban sustainability through the implementation of practical solutions for urban agriculture and the cultivation of fresh food for personal consumption. In an increasingly urbanized world, where food production is distanced from metropolitan areas, the project aims to empower citizens to grow their own food in an accessible and efficient manner. In addition to promoting food self-sufficiency, CultivUA contributes to reducing the ecological footprint, creating greener cities, and improving urban quality of life. Combining technology and environmental concerns, CultivUA uses a web platform that integrates an online store, an interactive dashboard, IoT sensors, and more, to provide users with the ability to monitor and manage their small urban gardens in real-time.
    </p>
</div>

<div style="text-align: center; margin-top: 2rem;">
    <img src="assets/images/Contactos/image-7.webp" alt="Descrição da imagem" style="max-width: 100%; height: auto;">
</div>
<div style="margin: 20px 10%; display: flex; align-items: center; justify-content: space-between; gap: 20px;">
    <div style="flex: 1;">
        <mat-card-title class="black-title">
            Our <span class="primary-title">Mission</span>
        </mat-card-title>
        <p>
            At CultivUA, our mission is to inspire and empower urban communities to adopt sustainable and responsible cultivation practices. We believe that every green space, regardless of size, can contribute to a healthier and more ecological future. Through technology and innovation, we seek to make urban agriculture accessible to everyone, promoting self-sufficiency and greater environmental awareness.
        </p>
    </div>
    <div style="flex: 1;">
        <video controls style="width: 100%; height: auto; border-radius: 8px;">
            <source src="assets/images/Contactos/contactosvid.mp4" type="video/mp4">
            Your browser does not support video playback.
        </video>
    </div>
</div>
<br><br><br><br>
<mat-card-title class="primary-title">Our Team!</mat-card-title>
<div class="custom-slider-wrapper overflow-hidden position-relative m-t-40 p-t-30 p-b-10">
    <div class="custom-slider-container d-flex flex-row w-100">
        <div class="custom-slider-img">
            <img src="assets/images/Contactos/Cravo.webp" alt="bg-img" />
            <div class="custom-slider-name">Gabriel Cravo</div> <!-- Nome abaixo da imagem -->
        </div>
        <div class="custom-slider-img">
            <img src="assets/images/Contactos/Dani.jpg" alt="bg-img" />
            <div class="custom-slider-name">Daniel Silva</div> <!-- Nome abaixo da imagem -->
        </div>
        <div class="custom-slider-img">
            <img src="assets/images/Contactos/Pirre.jpg" alt="bg-img" />
            <div class="custom-slider-name">Miguel Pirré</div> <!-- Nome abaixo da imagem -->
        </div>
        <div class="custom-slider-img">
            <img src="assets/images/Contactos/Lucas.jpeg" alt="bg-img" />
            <div class="custom-slider-name">Lucas Duarte</div> <!-- Nome abaixo da imagem -->
        </div>
        <!-- Repetir as imagens para o loop infinito -->
        <div class="custom-slider-img">
            <img src="assets/images/Contactos/Cravo.webp" alt="bg-img" />
            <div class="custom-slider-name">Gabriel Cravo</div> <!-- Nome abaixo da imagem -->
        </div>
        <div class="custom-slider-img">
            <img src="assets/images/Contactos/Dani.jpg" alt="bg-img" />
            <div class="custom-slider-name">Daniel Silva</div> <!-- Nome abaixo da imagem -->
        </div>
        <div class="custom-slider-img">
            <img src="assets/images/Contactos/Pirre.jpg" alt="bg-img" />
            <div class="custom-slider-name">Miguel Pirré</div> <!-- Nome abaixo da imagem -->
        </div>
        <div class="custom-slider-img">
            <img src="assets/images/Contactos/Lucas.jpeg" alt="bg-img" />
            <div class="custom-slider-name">Lucas Duarte</div> <!-- Nome abaixo da imagem -->
        </div>
        <div class="custom-slider-img">
            <img src="assets/images/Contactos/Cravo.webp" alt="bg-img" />
            <div class="custom-slider-name">Gabriel Cravo</div> <!-- Nome abaixo da imagem -->
        </div>
        <div class="custom-slider-img">
            <img src="assets/images/Contactos/Dani.jpg" alt="bg-img" />
            <div class="custom-slider-name">Daniel Silva</div> <!-- Nome abaixo da imagem -->
        </div>
        <div class="custom-slider-img">
            <img src="assets/images/Contactos/Pirre.jpg" alt="bg-img" />
            <div class="custom-slider-name">Miguel Pirré</div> <!-- Nome abaixo da imagem -->
        </div>
        <div class="custom-slider-img">
            <img src="assets/images/Contactos/Lucas.jpeg" alt="bg-img" />
            <div class="custom-slider-name">Lucas Duarte</div> <!-- Nome abaixo da imagem -->
        </div>
    </div>
</div>
