<div class="container">
    <div class="thank-you-message">
        <h1><strong>Thank you for your purchase!</strong></h1>
        <p>Your order has been successfully received. You will soon receive the details of your purchase by email.</p>
        <div class="image-container">
            <img src="../../../assets/images/Loja-Online/espinho-carrinho.png" alt="Compra realizada com sucesso">
        </div>
        <button class="back-to-shop" (click)="goBack()">Back to Store</button>
    </div>
</div>
<br><br>