.carregar {
    position: fixed!important;
    top: 50%!important;
    left: 50%!important;
    transform: translate(-50%, -50%)!important;
    z-index: 1000!important; /* Para garantir que o spinner fique acima de outros elementos */
    width: 100px!important; /* Tamanho maior */
    height: 100px!important; /* Tamanho maior */
  }
  