<div class="row justify-content-center">
  <div class="col-lg-10 m-t-30 p-t-30">
    <mat-card class="bg-primary text-white cardWithShadow">
      <mat-card-content class="p-y-24 text-center">
        
        <h4 class="f-s-20 f-w-600 m-y-12">Still have questions?</h4>
        <span class="d-block m-b-16">
          Can't find the answer you're looking for? Talk to our plant-specialized AI.
        </span>
        <button mat-flat-button color="accent" (click)="goToChat()">Talk to our AI</button>    
      </mat-card-content>
    </mat-card>
  </div>
</div>
